<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <script src="//cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>

<body>
    <div id="bronyru-videoplayer-js" :isPlaying="isPlaying">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <video ref="videoel" id="video" poster="//base.bronyru.info/FiM/media/s1/e1/index.jpg"></video>
        <audio ref="audioel" id="audio"></audio>
        <div
            style="background-color: rgba(0,0,0,.5); position: absolute; top: 10px; left: 10px; color: white; padding: 10px;">
            Time: {{ secondsToTime(currentTime) }} | {{ secondsToTime(duration) }}<br>
            Playing: {{ isPlaying}} <br>
            Загружается: {{ isWaitingVideo || isWaitingAudio }}<br>
            Разброс: {{ currentTime - currentTime2 }}<br>
            Ignored: {{ ignoringActionVideo }} | {{ ignoringActionAudio }}
        </div>
        <div class="bronyru-videoplayer-js-videooverlay">
            <div class="bronyru-videoplayer-js-bottom">
                <div @click="progressBarClick" id="bronyru-videoplayer-js-progressbar">
                    <canvas ref="loadbar" id="bronyru-videoplayer-js-loadbar" height="1"
                        style="width: 100%; height: 3px"></canvas>
                    <div ref="playbar" id="bronyru-videoplayer-js-playbar"
                        :style="'width: '+ (currentTime / duration) * 100 +'%'">
                    </div>
                </div>
                <button class="bronyru-videoplayer-js-btn bronyru-videoplayer-js-btn-long" @click="pause"
                    v-if="isPlaying"><i class="material-icons">pause</i></button>
                <button class="bronyru-videoplayer-js-btn bronyru-videoplayer-js-btn-long" @click="play" v-else><i
                        class="material-icons">play_arrow</i></button>
                <button class="bronyru-videoplayer-js-btn" @click="randomplace"><i
                        class="material-icons">shuffle</i></button>
                <button class="bronyru-videoplayer-js-btn" @click="pipToggle" v-if="pipEnabled">
                    <i v-if="piped" class="material-icons">picture_in_picture_alt</i>
                    <i v-else class="material-icons">picture_in_picture</i>
                </button>
            </div>
        </div>
        <table border="1">
            <tr>
                <td>
                    <div v-for="dub in episode.dubs">
                        <label><input type="radio" id="contactChoice1" name="dub" @click="changeAud(episode.path+dub.name.codeName+'.mp4')"
                                value="email">{{dub.priority}} | {{dub.name.name}}</label><br>
                    </div>
                </td>
                <td>
                    <div v-for="video in episode.videos">
                        <label><input type="radio" id="contactChoice1" name="quality" @click="changeVid(episode.path+video.quality+'.mp4')"
                                value="email">{{video.priority}} | {{video.quality}}</label><br>
                    </div>
                </td>

            </tr>
        </table>
        <table border="1">
            <tr>
                <th>Time</th>
                <th>Event</th>
            </tr>
            <tr v-for="event in events">
                <td>{{event.time}}</td>
                <td>{{event.message}}</td>
            </tr>
        </table>
    </div>

    <script>
        let pageFocused = true;

        let app = new Vue({
            el: `#bronyru-videoplayer-js`,
            data: {
                episode: {},
                someurl: `//bronyru.info/api/episodes/search?query=Friendship+is+Magic,+part+2`,
                video: null,
                audio: null,
                currentTime: 0,
                newTime: 0,
                duration: 0,
                isPlaying: false,
                isWaitingVideo: true,
                isWaitingAudio: true,
                ignoringActionVideo: 0,
                ignoringActionAudio: 0,
                pipEnabled: ('pictureInPictureEnabled' in document),
                piped: false,
                events: []
            },
            watch: {
                isPlaying: function (val) {
                    this.log(`isPlaying changed to ${val}`);
                    if (val) {
                        this.serviceVideoPlay()
                        this.serviceAudioPlay()
                        if (Math.abs(this.$refs.videoel.currentTime - this.$refs.audioel.currentTime) > 0.2)
                            this.$refs.videoel.currentTime = this.$refs.audioel.currentTime;
                    } else {
                        this.serviceVideoPause()
                        this.serviceAudioPause()
                    }
                },
                isWaitingVideo: function (val) {
                    this.log(`isWaitingVideo changed to ${val}`);
                    if (val) {
                        this.serviceAudioPause()
                    } else if (this.isPlaying) {
                        this.serviceAudioPlay()
                    }
                },
                isWaitingAudio: function (val) {
                    this.log(`isWaitingAudio changed to ${val}`);
                    if (val) {
                        this.serviceVideoPause()
                    } else if (this.isPlaying) {
                        this.serviceVideoPlay()
                    }
                },
                newTime: function (val) {
                    this.log(`newTime changed to ${val}`);
                    this.$refs.videoel.currentTime = val;
                    this.$refs.audioel.currentTime = val;
                }
            },
            methods: {
                log(message) {
                    let time = new Date()
                    this.events.push({
                        time: `${time} | ${time.getTime()}`,
                        message: message
                    })
                },
                play() {
                    this.isPlaying = true;
                },
                pause() {
                    this.isPlaying = false;
                },
                randomplace() {
                    this.newTime = Math.random() * this.$refs.videoel.duration
                },
                pipToggle() {
                    if (this.$refs.videoel !== document.pictureInPictureElement) {
                        this.piped = true
                        this.$refs.videoel.requestPictureInPicture();
                    } else {
                        this.piped = false
                        document.exitPictureInPicture()
                    }
                },
                progressBarClick(event) {
                    this.newTime = ((event.layerX - event.target.offsetLeft) / event.target.parentElement
                        .clientWidth) * this.duration;
                },
                secondsToTime(sec) {
                    sec = Math.floor(sec);
                    let seconds = sec % 60;
                    let minutes = (sec - seconds) / 60;
                    let hours = (sec - minutes * 60 - seconds) / 3600;
                    return hours > 0 ?
                        `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}` :
                        `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                },
                syncThisShit() {
                    if (this.isPlaying) {
                        this.serviceVideoPlay()
                        if (Math.abs(this.$refs.videoel.currentTime - this.$refs.audioel.currentTime) > 0.2)
                            this.$refs.videoel.currentTime = this.$refs.audioel.currentTime;
                    }
                },
                changeVid: function (link) {
                    this.log(`Video changed to ${link}`)
                    //this.serviceVideoPause()
                    this.$refs.videoel.src = link
                    this.isWaitingVideo = true
                    this.syncThisShit()
                    this.log(`COMPLETE! Video changed to ${link}`)
                },
                changeAud: function (link) {
                    this.log(`Audio changed to ${link}`)
                    let time = this.$refs.audioel.currentTime
                    //this.serviceAudioPause()
                    this.$refs.audioel.src = link
                    this.isWaitingAudio = true
                    this.$refs.audioel.currentTime = time
                    this.syncThisShit()
                    this.log(`COMPLETE! Audio changed to ${link}`)
                },
                serviceVideoPause: function () {
                    if (!this.$refs.videoel.paused) {
                        this.ignoringActionVideo += 1
                        console.trace("Video+1 Pause")
                        this.$refs.videoel.pause()
                    }
                },
                serviceVideoPlay: function () {
                    if (this.$refs.videoel.paused) {
                        this.ignoringActionVideo += 1
                        console.trace("Video+1 Play")
                        this.$refs.videoel.play()
                    }
                },
                serviceAudioPause: function () {
                    if (!this.$refs.audioel.paused) {
                        this.ignoringActionAudio += 1
                        console.trace("Audio+1 Pause")
                        this.$refs.audioel.pause()
                    }
                },
                serviceAudioPlay: function () {
                    if (this.$refs.audioel.paused) {
                        this.ignoringActionAudio += 1
                        console.trace("Audio+1 Play")
                        this.$refs.audioel.play()
                    }
                }
            },
            mounted() {
                // Init canvas
                let player = this.$refs;
                this.canvas = player.loadbar.getContext('2d');

                // Update video duration
                player.videoel.onloadedmetadata = () => {
                    this.duration = player.videoel.duration;
                }

                // Sync video loading
                player.videoel.onwaiting = () => {
                    this.isWaitingVideo = true;
                }
                player.videoel.oncanplay = () => {
                    this.isWaitingVideo = false;
                    /*if (this.isPlaying && player.videoel.paused) {
                        player.videoel.currentTime = player.audioel.currentTime
                        player.videoel.play()
                    }*/
                }

                // Sync audio loading
                player.audioel.onwaiting = () => {
                    this.isWaitingAudio = true;
                }
                player.audioel.oncanplay = () => {
                    this.isWaitingAudio = false;
                    /*if (this.isPlaying && player.audioel.paused) {
                        player.audioel.currentTime = player.videoel.currentTime
                        player.audioel.play()
                    }*/
                }

                // Sync time
                player.audioel.ontimeupdate = () => {
                    this.currentTime = player.audioel.currentTime
                    this.currentTime2 = player.videoel.currentTime
                    /*if (this.$refs.videoel.paused) {
                        this.$refs.videoel.currentTime = this.$refs.audioel.currentTime;
                    }*/
                }

                /*player.videoel.ontimeupdate = () => {
                    this.currentTime2 = player.videoel.currentTime
                }*/

                // Sync pause audio
                player.audioel.onpause = () => {
                    this.log(`>>>>> Audio pause ${this.ignoringActionAudio}`);
                    if (this.ignoringActionAudio == 0) {
                        this.isPlaying = false;
                    } else {
                        this.ignoringActionAudio -= 1;
                    }
                }

                // Sync playing audio
                player.audioel.onplaying = () => {
                    this.log(`>>>>> Audio play ${this.ignoringActionAudio}`);
                    if (this.ignoringActionAudio == 0) {
                        this.isPlaying = true;
                    } else {
                        this.ignoringActionAudio -= 1;
                    }
                }

                // Sync pause video
                player.videoel.onpause = () => {
                    this.log(`>>>>> Video pause ${this.ignoringActionVideo}`);
                    if (this.ignoringActionVideo == 0) {
                        if (this.$refs.videoel === document.pictureInPictureElement || pageFocused)
                            this.isPlaying = false;
                    } else {
                        this.ignoringActionVideo -= 1;
                    }
                }

                // Sync playing video
                player.videoel.onplaying = () => {
                    this.log(`>>>>> Video play ${this.ignoringActionVideo}`);
                    if (this.ignoringActionVideo == 0) {
                        this.isPlaying = true;
                    } else {
                        this.ignoringActionVideo -= 1;
                    }
                }

                // Progress bar
                player.videoel.onprogress = () => {
                    player.loadbar.width = player.loadbar.clientWidth;
                    this.canvas.fillStyle = 'white';
                    this.canvas.clearRect(0, 0, player.loadbar.width, 1);
                    for (let i = 0; i < player.videoel.buffered.length; i++) {
                        var startX = player.videoel.buffered.start(i) * player.loadbar.width / this
                            .duration;
                        var endX = player.videoel.buffered.end(i) * player.loadbar.width / this.duration;
                        var width = endX - startX;

                        this.canvas.fillRect(Math.floor(startX), 0, Math.floor(width), 1);
                    }
                }

                // API
                (async () => {
                    this.episode = (await axios(this.someurl)).data.data[0]
                    Object(this.episode.videos).sort((a, b) => {
                        if (parseInt(a.quality) < parseInt(b.quality)) {
                            return 1;
                        }
                        if (parseInt(a.quality) > parseInt(b.quality)) {
                            return -1;
                        }
                        return 0;
                    })

                    Object(this.episode.dubs).sort((a, b) => {
                        if (a.priority < b.priority) {
                            return -1;
                        }
                        if (a.priority > b.priority) {
                            return 1;
                        }
                        return 0;
                    })

                    
                    console.log(this.episode)
                    //console.log(this.episode)
                })()
            }
        });

        window.addEventListener('focus', function () {
            pageFocused = true;
            app.syncThisShit();
        });

        window.addEventListener('blur', function () {
            pageFocused = false;
        });
    </script>
</body>

</html>